#siteTitle {
  position: fixed;
  width: 100%;
  height: 200px;
}

#siteTitle img {
  height: 150px;
  margin: 20px;
}

#siteMenu {
  height: 50px;
  border-top: red solid 3px;
  border-bottom: blue solid 3px;
}

#siteMenu2 {
  width: 1200px;
}

#siteContent {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 260px;
}

#homeImg {
  width: 100%;
}