@font-face {
  font-family: "oxygen";
  src: url("./font/sbm.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("mp/img/grad.jpg");
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}
