@import "./d62.scss";

$sd : 1px 1px 1px green;
$s : 200px;

@mixin myDesign() {
    width: 150px;
    height: 150px;
    background-color: gray;
}

@mixin myDesign2($v) {
    $ss: 100px * $v;
    width: $ss;
    height: $ss;
}

.e {
    text-shadow: $sd;
    box-shadow: $sd;
    width: $s;
    height: $s;
}

.e2 {
    color: red;
    font-weight: 900;
    @include myDesign();
}

.e3 {
    @include myDesign2(1);
}

.e4 {
    @include myDesign2(2);
}

.e5 {
    @include fontCool();

    div {
        color: royalblue;
    }
}